<h1><%= @user.name %></h1>
<p><%= @user.height %></p>
<p><%= @user.happiness %></p>
<p><%= @user.nausea %></p>
<p><%= @user.tickets %></p>

<%= link_to "Edit", edit_user_path(@user) %><br>
<%= link_to "See attractions", attractions_path %>
