<h1><%= @attraction.name %></h1>
<h3><%= @attraction.tickets %></h3>
<h3><%= @attraction.nausea_rating %></h3>
<h3><%= @attraction.happiness_rating %></h3>
<h3><%= @attraction.min_height %></h3>
<!-- <%= link_to "", rides_new_path%> -->
<%= link_to "Go on this ride", rides_new_path, :method => "post" %>
