<h1><%= @attraction.name %></h1>
Tickets <strong><%= @attraction.tickets %></strong><br>
Nausea Rating <strong><%= @attraction.nausea_rating %></strong><br>
Happiness Rating <strong><%= @attraction.happiness_rating %></strong><br>
Minimum Height <strong><%= @attraction.min_height %></strong><br>

<% if current_user.admin %>
  <%=  link_to 'Edit Attraction', edit_attraction_path(@attraction) %>
  <%=  link_to 'delete', attraction_path(@attraction), method: 'delete' %>
<% end %>
<br><br>
<%= button_to "Go on this ride", {controller: "rides", action: "create", attraction_id: @attraction.id} %>
